<main>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Markdown Previewer</span>
      <span class="fill-space-toolbar" fxFlex="1 1 auto"></span>
      <button (click)="handleDeleteClick()" mat-button>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="delete current markdown text">delete</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>


  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="center">
    <mat-card fxFlex="45">
      <mat-card-header>
        <mat-card-title>Markdown Code</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-text-editor (changedText)="handleTextChange($event)" [markdownText]="markdownText"></app-text-editor>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="45">
      <mat-card-header>
        <mat-card-title>Preview</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-text-preview [markdownText]="markdownText"></app-text-preview>
      </mat-card-content>
    </mat-card>
  </div>
</main>

<footer class="my-footer">
  Made by <a href="http://zelite.github.io">Zelite</a>
</footer>

